body {
    margin: 0;
    font-family: "Courier";
    height: 340px;
    width: 330px;
}

.title {
    position: absolute;
    top: 50px;
    left: 118px;
    transform: translate(-50%, -30%);
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

.word {
    color: salmon;
    font-size: 15px;   
}
