body {
    margin: 0;
    font-family: "Courier";
    height: 600px;
    width: 320px;
    
}

.title {
    position: absolute;
    top: 50px;
    left: 118px;
    transform: translate(-50%, -30%);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.word {
    color: salmon;
    font-size: 15px;
    padding-left: 10px;   
}

.type {
    color: gray;
    padding-left: 10px;   
}

.align-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  